.root {
  position: relative;
  z-index: 10;

  &:hover > .cross {
    display: block;
  }
}

.content {
  width: 54px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
}

.cross {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
}
