@import '~@assets/styles/colors.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 7px 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  line-height: 22px;
  background-color: $dark_200;
  color: $dark_100;
}

.inputImage {
  display: none;
}

.preview {
  width: 125px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $dark_200;
  cursor: pointer;
}

.previewImage {
  width: 100%;
  height: 100%;
}

.inputColor {
  position: relative;
}

.previewColor {
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
