@import '~@assets/styles/colors.scss';

.root {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 22px;
  border-radius: 8px;
  background-color: $blue_100;
  color: $light_100;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: darken($blue_100, 10%);
  }

  &:active {
    background-color: lighten($blue_100, 10%);
  }

  &.disabled {
    background-color: $dark_100;
    cursor: default;
  }
}
