@import '~@assets/styles/colors.scss';
@import '~@assets/styles/size.scss';

.root {
  width: 100%;
  height: 100%;
  padding: 43px 43px 47px;
}

.content {
  position: relative;
  min-width: $container_width + 2*$container_padding_horizontal;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $container_padding_vertical $container_padding_horizontal;
  border-radius: 28px;
  background-color: $dark_400;
}
