@import '~@assets/styles/colors.scss';

.root {
  width: 100%;
  margin-bottom: 35px;
}

.title {
  margin-right: 40px;
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: $light_100;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $dark_100;
  }

  &.select {
    text-decoration-line: underline;
  }
}
