@import '~@assets/styles/size.scss';

.root {
  width: $container_width;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.squares {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 10px 27px 50px;
}

.actions {
  width: 100%;
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
