@import '~@assets/styles/colors.scss';
@import '~@assets/styles/size.scss';

.root {
  width: $container_width;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.response {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 25px;
}

.responseText {
  width: 100%;
  min-height: 200px;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: $dark_200;
  color: $dark_100
}
