@import '~@assets/styles/colors.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'GothamPro', sans-serif;
  background-color: $dark_300;
  font-weight: normal
}
